/logs
/data/sessionon
/data/tmp
/.vscode
/ISM.exe
/conf/license.lic
/lib/xorm@v0.0.0-20210822100304-4e1d4fcc1e67.zip
/lib/gomodbus.zip
/lib/opcua@v0.3.4.zip
/lib/serial@v0.1.0.zip
/data/cert
/.idea
/data/dbbackup
/data/db/*
!/data/db/ism.db
/vendor/gorm.io/gorm/LICENSE
/ISM Web组态软件源代码销售合同.doc
/ISM Web组态软件授权协议.docx
/data/historyData.db
/ISMServer.exe
/ISMServer
/shutdown.bat
/ISMServerForArm
/record
/static/1.mp4
/static/SnapVideo
/static/SnapImage
