.page-header{
  background: @base-bg-color;
  padding: 12px 24px;
  width: 100%;
  margin-top: 0px;
  z-index: 1;
  &.head.fixed{
    margin: auto;
    max-width: 1400px;
  }
  .page-header-wide{
    .breadcrumb{
      font-weight: 400;
      color: #606266;
      cursor: text;
      margin-bottom: 0px;
    }
  }
}
